<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Book</h1>

<div class="row" ng-show="error">
    <span class="label label-danger">{{error}}</span>
</div>
<div class="row" ng-show="success">
    <span class="label label-success">{{success}}</span>
</div>
<br>


<form name="myForm" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="bookTitle" class="col-sm-2 control-label">Book Title</label>

        <div class="col-sm-4">
            <input name="bookTitle" ng-minlength="3" ng-maxlength="10" required ng-model="library.newbook.title" type="text" class="form-control" id="bookTitle" placeholder="Title">
        </div>
        <span class="error" ng-show="myForm.bookTitle.$error.required">Required!</span><br>
        <span class="error" ng-show="myForm.bookTitle.$error.minlength">Too short!</span>
        <span class="error" ng-show="myForm.bookTitle.$error.maxlength">Too long!</span>
    </div>
    <div class="form-group">
        <label for="authorName" class="col-sm-2 control-label">Author Name</label>

        <div class="col-sm-4">
            <input  ng-model="library.newbook.author" type="text" class="form-control" id="authorName" placeholder="Author Name">
            (No client validation exist for this field, to see backend failure leave this field empty)
        </div>
    </div>

    <div class="form-group">
        <label for="numberOfCopies" class="col-sm-2 control-label">Number of copies</label>

        <div class="col-sm-4">
            <input ngPattern="/^[0-9]+$/" name="numberOfCopies" required ng-model="library.newbook.numberOfCopies" type="number" class="form-control" id="numberOfCopies" placeholder="Number of copies">
            <span class="error" ng-show="myForm.numberOfCopies.$error.maxlength">Too long!</span>
            <span class="error" ng-show="!myForm.numberOfCopies.$valid">Not valid</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="saveBook()" type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>



</body>
</html>